@*@ViewBag.Result*@
@*@foreach (var film in ViewBag.Result)
    {
        <tr>
            <td>@film</td>
            <br />
        </tr>
    }*@
@model IEnumerable<SeeThisMovieQuestionMark.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-color: lightgray">
    <h1 class="display-4">Should you see this movie?</h1>
    <p class="lead">Many people wonder if they should actually go see a movie or not. Our predictor takes your preferences and the expected rating for the movie to let you know if it'll be 
    worth the watch. </p>
    <hr class="my-4">
    <h4 >Click on the button below and enter the information of a movie you'd like to see to get a prediction of whether you'll enjoy it!</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <button class="btn btn-lg" style="background-color: maroon; ">@Html.ActionLink("Try our Predictor!", "Index", "Movies", null, new { @style =" color: #F6F6F6;" }) </button>
            </div>
    <div class="col-md-3"></div>

</div>



    </div>
